.traffic-lights {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  .traffic-light {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}